*, *::before, *::after {
	margin: 0;
	padding: 0;
}
* {
	box-sizing: border-box;
	font-family: "Times New Roman", sans-serif;
}
.desktop-nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 10vh;
	padding: 0 3vw;
}
.mobile-nav {
	display: none;
}
.nav1, .nav2, .links {
	display: flex;
	align-items: center;
}
.nav1 {
	gap: 5vw;
}
.links, .nav2 {
	gap: 1vw;
}
.desktop-nav a {
	font-size: 1.5vw;
	text-decoration: none;
	display: block;
	padding: 0.7vw 1vw;
	color: hsl(0, 0%, 41%);
}
.nav1 a:hover, .nav2 a:hover {
	color: black;
}
.logo {
	font-size: 3vw;
	font-weight: bold;
	animation: myanime 1 1s linear;
}
.features-div a, .company-div a {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.5vw;
}
.arrow-span {
	display: inline-block;
	width: 1vw;
	height: 0.8vw;
}
.arrow-span img {
	display: block;
	width: 100%;
	height: 100%;
	transition: 0.3s;
}
.features-div {
	position: relative;
}
.features-menu {
	background: white;
	box-shadow: 0 0 0.5vw 0 black;
	border-radius: 1vw;
	padding: 1vw;
	position: absolute;
	top: 100%;
	right: 0;
	width: 140%;
	height: 0;
	visibility: hidden;
	opacity: 0;
	z-index: -1;
	transition: 0.3s;
}
.features-menu-div {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 3vw;
}
.features-menu-div a {
	font-size: 1.2vw;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: flex-start;
	gap: 1vw;
	transition: 0.1s;
	color: black;
}
.features-menu-div a:hover {
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transition: 0.1s;
}
.menu-imgdiv {
	width: 1.5vw;
}
.menu-imgdiv img {
	display: block;
	width: 100%;
}
.features-div:hover .features-menu {
	visibility: visible;
	opacity: 1;
	z-index: 2;
	height: 15vw;
	transition: 0.3s;
}
.features-div:hover .arrow-span img {
	transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	transition: 0.3s;
}
.company-div {
	position: relative;
}
.company-menu {
	background: white;
	border-radius: 1vw;
	padding: 1vw;
	box-shadow: 0 0 0.5vw 0 black;
	position: absolute;
	top: 100%;
	left: 0;
	width: 120%;
	height: 0;
	visibility: hidden;
	opacity: 0;
	z-index: -1;
	transition: 0.3s;
}
.company-div:hover .company-menu {
	visibility: visible;
	opacity: 1;
	z-index: 2;
	height: 13vw;
	transition: 0.3s;
}
.company-div:hover .arrow-span img {
	transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	transition: 0.3s;
}
.company-menu a {
	display: block;
	font-size: 1.2vw;
	color: black;
	transition: 0.1s;
}
.company-menu a:hover {
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transition: 0.1s;	
}
.register {
	border: 2px solid hsl(0, 0%, 41%);
	border-radius: 1vw;
}
.register:hover {
	border: 2px solid black;
}

.container {
	background: linear-gradient(black, white);
	min-height: 90vh;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.content-container {
	width: 80%;
	height: 80%;
	display: flex;
	position: absolute;
	z-index: 1;
}
.div1 {
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.div1 h1 {
	font-size: 7vw;
	color: white;
	text-shadow: 1px 1px 5px black;
}
.div1 p {
	font-size: 2vw;
}
.btnDiv button {
	font-size: 1.5vw;
	padding: 1vw 1.5vw;
	background: black;
	color: white;
	font-weight: bold;
	border-radius: 0.7vw;
	cursor: pointer;
	border: 2px solid black;
	transition: 0.3s;
}
.btnDiv button:hover {
	color: black;
	background: white;
	transition: 0.3s;
}
.brands-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.databiz-container {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.7vw; 
}
.databiz-dot {
	width: 1vw;
	height: 1vw;
	border-radius: 50%;
	background: black;
}
.databiz {
	font-size: 1.5vw;
	font-weight: bold;
	text-shadow: 1px 1px 3px black;
	color: white;
} 
.audio, .phile {
	width: 4.5vw;
	font-weight: bold;
	font-size: 1.5vw;
	color: white;
	text-shadow: 1px 1px 3px black;
}
.audio sup {
	font-size: 2vw;
}
.phile {
	text-align: right;
}

.meet-container {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.4vw; 
}
.dots-container {
	display: flex;
	flex-direction: column;
	width: 1.7vw;
	padding-top: 0.4vw;
}
.upper-dot, .lower-dot {
	width: 0.8vw;
	height: 0.8vw;
	border-radius: 50%;
	background: black;
}
.upper-dot {
	margin-left: auto;
}
.meet-text {
	font-size: 1.5vw;
	font-weight: bold;
	color: white;
	text-shadow: 1px 1px 3px black;
}
.meet-text sup {
	font-size: 2vw;
}

.maker-container {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.4vw; 
}
.circles-container {
	display: flex;
	align-items: center;
	position: relative;
}
.circle1 {
	width: 1.5vw;
	height: 1.5vw;
	border-radius: 50%;
	background: black;
}
.circle2 {
	width: 1.1vw;
	height: 1.1vw;
	border-radius: 50%;
	border: 3px groove white;
	position: absolute;
	bottom: 0;
	right: 0;
}
.maker-text {
	font-size: 1.5vw;
	font-weight: bold;
	text-shadow: 1px 1px 3px black;
	color: white;
} 
.div2 {
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.div2 img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: contain;
}
.particle-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.particle {
	width: 1vw;
	height: 1vw;
	border-radius: 50%;
	background: gold;
	position: absolute;
}
.particle:nth-child(1) {
	top: 12%;
	left: 42%;
	animation: particle-motion infinite 4s alternate;
}
.particle:nth-child(2) {
	top: 50%;
	left: 50%;
	animation: particle-motion infinite 8s alternate;
}
.particle:nth-child(3) {
	top: 40%;
	left: 10%;
	animation: particle-motion infinite 4s alternate;
}
.particle:nth-child(4) {
	top: 60%;
	left: 10%;
	animation: particle-motion infinite 7s alternate;
}
.particle:nth-child(5) {
	top: 80%;
	left: 10%;
	animation: particle-motion infinite 5s alternate;
}
.particle:nth-child(6) {
	top: 40%;
	right: 10%;
	animation: particle-motion infinite 8s alternate;
}
.particle:nth-child(7) {
	top: 60%;
	right: 10%;
	animation: particle-motion infinite 10s alternate;
}
.particle:nth-child(8) {
	top: 80%;
	right: 10%;
	animation: particle-motion infinite 7s alternate;
}
.particle:nth-child(9) {
	top: 60%;
	left: 30%;
	animation: particle-motion infinite 5s alternate;
}
.particle:nth-child(10) {
	top: 40%;
	right: 30%;
	animation: particle-motion infinite 3s alternate;
}
.particle:nth-child(11) {
	top: 20%;
	left: 80%;
	animation: particle-motion infinite 4s alternate;
}
.particle:nth-child(12) {
	top: 30%;
	left: 70%;
	animation: particle-motion infinite 3s alternate;
}
.particle:nth-child(13) {
	top: 40%;
	right: 60%;
	animation: particle-motion infinite 5s alternate;
}
.particle:nth-child(14) {
	top: 80%;
	right: 40%;
	animation: particle-motion infinite 6s alternate;
}
.particle:nth-child(15) {
	top: 30%;
	left: 10%;
	animation: particle-motion infinite 2s linear;
}
.particle:nth-child(16) {
	top: 20%;
	left: 10%;
	animation: particle-motion infinite 2s linear;
}
.particle:nth-child(17) {
	top: 30%;
	left: 45%;
	animation: particle-motion infinite 2s linear;
}
.particle:nth-child(18) {
	top: 40%;
	left: 60%;
	animation: particle-motion infinite 2s linear;
}
.particle:nth-child(19) {
	top: 25%;
	left: 55%;
	animation: particle-motion infinite 2s linear;
}
.particle:nth-child(20) {
	top: 20%;
	left: 30%;
	animation: particle-motion infinite 2s linear;
}

@keyframes particle-motion {
	0%{
		transform: translate(0);
		-webkit-transform: translate(0);
		opacity: 1;
		box-shadow: 0px 0px 5px yellow;
	}

	20%{
		transform: translate(5px -20px);
		-webkit-transform: translate(5px, -20px);
		opacity: 0.8;
		box-shadow: 0px 0px 10px yellow;
	}

	40%{
		transform: translate(-10px, -30px);
		-webkit-transform: translate(-10px, -30px);
		opacity: 0.7;
		box-shadow: 0px 0px 15px yellow;
	}

	60%{
		transform: translate(15px, -40px);
		-webkit-transform: translate(15px, -40px);
		opacity: 0.5;
		box-shadow: 0px 0px 20px yellow;
	}

	80%{
		transform: translate(-20px, -60px);
		-webkit-transform: translate(-20px, -60px);
		opacity: 0.2;
		box-shadow: 0px 0px 25px yellow;
	}

	100%{
		transform: translate(40px, -100px);
		-webkit-transform: translate(40px, -100px);
		opacity: 0;
		box-shadow: 0px 0px 30px yellow;
	}
}

@keyframes myanime {
	0% {
		transform: scale(1.1) rotate(0deg);
		-webkit-transform: scale(1.1) rotate(0deg);
		color: gold;
		text-shadow: 1px 1px 1px black;
	}
	25% {
		transform: scale(1.0) rotate(10deg);
		-webkit-transform: scale(1.0) rotate(10deg);
		color: gold;
		text-shadow: 1px 1px 1px black;
	}
	50% {
		transform: scale(1.1) rotate(-10deg);
		-webkit-transform: scale(1.1) rotate(-10deg);
		color: gold;
		text-shadow: 1px 1px 1px black;
	}
	75% {
		transform: scale(1.0) rotate(10deg);
		-webkit-transform: scale(1.0) rotate(10deg);
		color: gold;
		text-shadow: 1px 1px 1px black;
	}
	100% {
		transform: scale(1.1) rotate(0deg);
		-webkit-transform: scale(1.1) rotate(0deg);
		color: gold;
		text-shadow: 1px 1px 1px black;
	}
}
@media screen and (orientation: portrait) {
	.desktop-nav {
		display: none;
	}
	html {
		overflow: hidden;
	}
	body {
		position: relative;
		overflow: hidden;
	}
	.mobile-nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 10vh;
		padding: 0 3vh;
	}
	.mobile-logo {
		font-size: 4vh;
		font-weight: bold; 
	}
	.mDiv button {
		border: none;
		width: 5vh;
		height: 5vh;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
		cursor: pointer;
		position: relative;
		overflow: hidden;
		background: white;
		z-index: 4;
	}
	.mDiv button span {
		display: block;
		background: black;
		width: 100%;
		height: 0.5vh;
		transition: 0.3s;
	}
	.span2 {
		position: absolute;
		right: 0;
		width: 80% !important;
		background: red !important;
	}
	.mDiv button .line2 {
		position: absolute;
		right: -100%;
	}
	.mDiv button .line1 {
		transform: rotate(45deg);
		-webkit-transform: rotate(45deg);
		position: absolute;
	}
	.mDiv button .line3 {
		transform: rotate(-45deg);
		-webkit-transform: rotate(-45deg);
		position: absolute;
	}
	.mobile-menu-container {
		position: absolute;
		top: 0;
		right: 0;
		width: 0;
		height: 0;
		z-index: 3;
		background: rgba(0, 0, 0, 0.5);
		transition: 0.3s;
		visibility: hidden;
	}
	.open {
		width: 100%;
		height: 100%;
		visibility: visible;
	}
	.sidebar {
		position: absolute;
		right: 0;
		top: 0;
		width: 70%;
		height: 100%;
		background: white;
	}
	.sidebar-menu {
		position: absolute;
		padding: 3vh;
		right: 0;
		top: 10vh;
		width: 100%;
		display: flex;
		flex-direction: column;
		gap: 2vh;
		visibility: hidden;
		opacity: 0;
	}
	.sidebar-menu-open {
		visibility: visible;
		opacity: 1;
	}
	.sidebar-menu a {
		text-decoration: none;
		color: hsl(0, 0%, 50%, 1.0);
		display: block;
		padding: 1vh;
		font-size: 2.5vh;
		transition: 0.3s;
	}
	.sidebar-menu a:hover {
		color: black;
		transition: 0.3s;
	}
	.mobile-links a {
		display: flex;
		align-items: center;
		gap: 2vh;
	}
	.mobile-links img {
		display: block;
		width: 5%;
	}
	.mNav1, .mNav2 {
		display: flex;
		flex-direction: column;
	}
	.mNav2 {
		align-items: center;
	}
	.mNav2 a {
		width: 100%;
		text-align: center;
	}
	.mNav2 a:nth-child(2) {
		border: 2px solid hsl(0, 0%, 50%, 1.0);
		border-radius: 1vh;
	}
	.mNav2 a:nth-child(2):hover {
		border: 2px solid black;
	}
	.mobile-features-menu {
		opacity: 0;
		height: 0;
		visibility: hidden;
		z-index: -2;
		position: relative;
		transition: 0.3s;
	}
	.features-open {
		opacity: 1;
		height: 22vh;
		z-index: initial;
		visibility: visible;
	}
	#arrow-image1, #arrow-image2 {
		transition: 0.3s;
		width: 3%;
	}
	.mobile-company-menu {
		opacity: 0;
		height: 0;
		visibility: hidden;
		z-index: -2;
		position: relative;
		transition: 0.3s;
	}
	.company-open {
		opacity: 1;
		height: 17vh;
		z-index: initial;
		visibility: visible;
	}
	.mobile-company-menu a {
		padding-left: 5vh;
	} 
	.container {
		background: linear-gradient(white, black, black);
	}
	.content-container {
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column-reverse;
		justify-content: flex-end;
		position: absolute;
		z-index: 1;
	}
	.div1, .div2 {
		width: 100%;
	}
	.div1 {
		height: 60%;
		justify-content: space-around;
		align-items: center;
	}
	.div1 h1 {
		font-size: 5vh;
	}
	.div1 p {
		color: white;
		font-size: 2.5vh;
		text-align: center;
		padding: 0 2vh;
	}
	.btnDiv button {
		font-size: 2vh;
		background: white;
		color: black;
		border: 2px solid white;
		border-radius: 1vh;
	}
	.btnDiv button:hover {
		color: white;
		background: black;
		transition: 0.3s;
	}
	.div2 {
		height: 40%;
		background: url(images/image-hero-mobile.png) no-repeat center;
		background-size: contain;
	}
	.div2 img {
		display: none;
	}
	.brands-container {
		gap: 3.1vh;
	}
	.databiz-container {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 1vh; 
	}
	.databiz-dot {
		width: 1.5vh;
		height: 1.5vh;
		border-radius: 50%;
		background: white;
	}
	.databiz {
		font-size: 2.5vh;
		font-weight: bold;
		text-shadow: 1px 1px 3px black;
		color: white;
	} 
	.audio, .phile {
		width: 5vh;
		font-weight: bold;
		font-size: 2.5vh;
		color: white;
		text-shadow: 1px 1px 3px black;
	}
	.audio sup {
		font-size: 3vh;
	}
	.phile {
		text-align: right;
	}
	.meet-container {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 0.7vh; 
	}
	.dots-container {
		display: flex;
		flex-direction: column;
		width: 2.5vh;
		padding-top: 0;
	}
	.upper-dot, .lower-dot {
		width: 1.2vh;
		height: 1.2vh;
		border-radius: 50%;
		background: white;
	}
	.upper-dot {
		margin-left: auto;
	}
	.meet-text {
		font-size: 2.5vh;
		font-weight: bold;
		color: white;
		text-shadow: 1px 1px 3px black;
	}
	.meet-text sup {
		font-size: 3vh;
	}
	.maker-container {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 0.7vh; 
	}
	.circles-container {
		display: flex;
		align-items: center;
		position: relative;
	}
	.circle1 {
		width: 2vh;
		height: 2vh;
		border-radius: 50%;
		background: white;
	}
	.circle2 {
		width: 1.5vh;
		height: 1.5vh;
		border-radius: 50%;
		border: 3px groove black;
		position: absolute;
		bottom: 0;
		right: 0;
	}
	.maker-text {
		font-size: 2.5vh;
		font-weight: bold;
		text-shadow: 1px 1px 3px black;
		color: white;
	}
}
@media screen and (max-height: 400px) {
	.div1 h1 {
		font-size: 10vh;
	}
	.div1 p {
		font-size: 14px;
	}
	.btnDiv button {
		font-size: 4vh;
	}
}
